.heading4 {
    width: 100%;
    margin-top: 45px;
    text-align: center;
}

.heading4 h4 {
    width: 20%;
    margin: auto;
    background-color: rgb(255, 206, 206);
    padding: 15px 15px;
    border-radius: 40px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
}

.main_blogs {
    /* border: 3px solid red; */
    margin-top: 45px;
    width: 100%;
    overflow: auto;
    height: 100vh;
    padding-bottom: 45px;
}

.main_blogs::-webkit-scrollbar {
    display: none;
}

.sub_mini_blogs {
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 90%;
    height: 50vh;
    margin: auto;
    margin-top: 33px;
}

.sub_mini_blogs img {
    width: fit-content;
    height: auto;
    object-fit: cover;
}

.text_aree {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 22px;
    text-align: justify;
}

.text_aree h4 {
    padding: 22px 12px;
    font-size: 22px;
}

@media screen and (max-width: 1000px) {
    .sub_mini_blogs {
        flex-direction: column;
        height: auto;
    }

    .sub_mini_blogs img {
        width: 100%;
        height: auto;
    }

    .heading4 h4 {
        width: 100%;
        background-color: transparent;

    }
}


@media screen and (max-width: 1300px) {

    .heading4 h4 {
        width: 100%;
        background-color: transparent;
    }
}

@media screen and (max-width: 300px) {

    .heading4 h4 {
        width: 100%;
        background-color: transparent;
    }
}