.main_register {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 900;
    height: auto;
    display: flex;
    padding: 15px 15px;
    align-items: center;
    justify-content: center;
}

.sub_register_content {
    /* border: 3px solid rgb(0, 0, 0); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 40%;
    display: flex;
    background-color: white;
    width: 40%;
    height: 92vh;
}

.input_sec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.input_sec h3 {
    font-size: 45px;
}

@media screen and (max-width : 1000px) {
    .input_sec {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .sub_register_content {
        width: 100%;
        max-width: 100%;
    }
}