.heading2 {
    width: 100%;
    margin: auto;
    margin-top: 45px;
    text-align: center;
    
}
.heading2 h2{
    background-color: rgb(255, 165, 165);
    border-radius: 30px;
    display: inline;
    padding: 12px 102px;
    cursor: pointer;
}
.met_main_team {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    text-align: center;
    justify-content: space-around;
}

.sub_name {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 10px;
    margin: auto;
    border-radius: 5px;
    margin: 40px 0px;
    flex-basis: 30%;
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.sub_name img {
    width: 100%;
    height: auto;
    transition: .2s ease-in-out;
    transform: scale(1);
}

.sub_name img:hover {
    filter: drop-shadow(12px);
    transform: scale(1.04);
    transition: .2s ease-in-out;
}

.btn_add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.btn_add Button {
    background-color: red;
    padding: 8px;
    text-transform: unset;
    color: white;
    font-weight: 900;
    font-size: 15px
}

.btn_add Button:hover {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .met_main_team {
        width: 90%;
    }

    .sub_name {
        flex-basis: 45%;
        margin: 20px 0px;
    }
}

@media only screen and (max-width: 480px) {
    .met_main_team {
        width: 100%;
    }

    .met_main_team {
        flex-basis: 90%;
        margin: 10px 0px;
    }
}